<%= puts "Rendering _search_results.html.erb for #{@opportunities.size} opportunities" %>
<div class="volunteer-container">
<% @opportunities.each do |opportunity| %>
  <div>
    <span class="opportunity-title"><%= opportunity.title %></span>
    <p><strong>Organization: </strong><%= opportunity.organization_name %></p>
    <p><%= opportunity.description %></p>
    <p>Location<strong> | </strong> <%= opportunity.location %></p>
    <button><%= link_to 'Learn More', show_opportunity_path(opportunity) %></button>
<hr>
  </div>
<% end %>
</div>
<div class="aside">
<div class="aside-img">
  <%= image_tag 'holdbox.png', alt: "ladies holding a box" %>
</div>
<div class="aside-spn">
  <span class="spn1">New Ways to</br> Search</span></br></br>
  <span class="spn2">Featured Causes</span></br></br>
  <p class="aside-p1">Highlighted Opportunities:</p>
  <p class="aside-p2">Education Initiatives</p>
  <p class="aside-p2"> Community Health & Wellness</p></br>
  <span class="spn3">Volunteer with your</br> family, co-workers,</br> civic group,& more</span>
</div>
</div>

  