<div class="opportunity-cont">
<h1 class="opportunity-title"><%= @create_opportunity.title %></h1>
<p class="opportunity-info"><strong>Organization:</strong> <%= @create_opportunity.organization_name %></p>
<hr>
<p class="opportunity-info"><%= @create_opportunity.description %></p>
<p class="opportunity-info"><strong>Location:</strong> <%= @create_opportunity.location %></p>
<button id="interestedBtn" class="interestedbutton" data-opportunity-id="<%= @create_opportunity.id %>">Interested</button><br><br>



  <%= link_to "ðŸ–Šï¸", edit_opportunity_path(@create_opportunity),  class: "edit-button" %>



  <%= link_to "ðŸ—‘", create_opportunity_path(@create_opportunity), method: :delete, data: { confirm: "Are you sure?"}, class: "delete-button" %>


  <%= link_to "Back", search_opportunities_path, class: "opportunity-buttons" %>

</div>