<div class="organazation-form">
<%= form_with(model: @create_opportunity) do |form| %>
   
    <h1 class="organization-form-title">Create Opportunities</h1>
    <p class="organization-form-description">Inspire collaboration, drive impactful change, and create purposeful engagements that empower individuals for lasting societal impact.</p>

    <div class="form-group">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', placeholder: "Enter title" %>
    </div>
    
    <div class="form-group">
        <%= form.label :description, class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control', placeholder: "Enter description" %>
    </div>
    

    <div class="form-group">
        <%= form.label :organization_name, class: 'form-label' %>
        <%= form.text_field :organization_name, class: 'form-control', placeholder: "Enter organization name" %>
    </div>
    
    <div class="form-group">
        <%= form.label :location, class: 'form-label' %>
        <%= form.text_field :location, class: 'form-control', placeholder: "Enter location" %>
    </div>
    
    <div class="form-group create-email">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', placeholder: "Enter email" %>
    </div>
    
    <div class="form-group">
        <%= form.label :date, class: 'form-label' %>
        <%= form.date_field :date, class: 'form-control'%>
    </div>
    
    <div class="form-group">
        <%= form.label :time, class: 'form-label' %>
        <%= form.time_field :time, class: 'form-control'%>
    </div>
      
    <div class="form-group submit-button">
          <%= form.submit "Create Opportunity" %>
    </div>
 
      <% end %>

</div>